In [42]:
import pickle
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
import random

In [43]:
with open('../data/raw/timelines.pkl', 'rb') as f:
    df = pickle.load(f)
    print(df.shape)

(28301, 472)

In [44]:
df.head(10)

                         timestamp  winning_team  participant1_participantId  \
matchId         frameId
EUW1_6621423080 23043            0             0                           1
                23044        60006             0                           1
                23045       120032             0                           1
                23046       180088             0                           1
                23047       240118             0                           1
                23048       300140             0                           1
                23049       360141             0                           1
                23050       420169             0                           1
                23051       480189             0                           1
                23052       540199             0                           1

                         participant1_abilityHaste  participant1_abilityPower  \
matchId         frameId
EUW1_6621423080 23043                            0                          0
                23044                            0                          0
                23045                            0                          0
                23046                            0                          0
                23047                            0                          0
                23048                            0                          0
                23049                            0                          0
                23050                            0                          0
                23051                            0                          0
                23052                            0                          0

                         participant1_armor  participant1_armorPen  \
matchId         frameId
EUW1_6621423080 23043                    36                      0
                23044                    42                      0
                23045                    42                      0
                23046                    48                      0
                23047                    48                      0
                23048                    54                      0
                23049                    58                      0
                23050                    88                      0
                23051                    62                      0
                23052                    66                      0

                         participant1_armorPenPercent  \
matchId         frameId
EUW1_6621423080 23043                               0
                23044                               0
                23045                               0
                23046                               0
                23047                               0
                23048                               0
                23049                               0
                23050                               0
                23051                               0
                23052                               0

                         participant1_attackDamage  participant1_attackSpeed  \
matchId         frameId
EUW1_6621423080 23043                           25                       100
                23044                           81                       113
                23045                           81                       130
                23046                           87                       179
                23047                           97                       123
                23048                          104                       138
                23049                          118                       165
                23050                          121                       135
                23051                          126                       161
                23052                          130                       145

                         ...  participant10_trueDamageTaken  \
matchId         frameId  ...
EUW1_6621423080 23043    ...                              0
                23044    ...                              0
                23045    ...                              0
                23046    ...                              0
                23047    ...                             10
                23048    ...                             10
                23049    ...                             10
                23050    ...                             10
                23051    ...                             10
                23052    ...                             10

                         participant10_goldPerSecond  \
matchId         frameId
EUW1_6621423080 23043                              0
                23044                             20
                23045                             20
                23046                             20
                23047                             20
                23048                             20
                23049                             20
                23050                             20
                23051                             20
                23052                             20

                         participant10_jungleMinionsKilled  \
matchId         frameId
EUW1_6621423080 23043                                    0
                23044                                    0
                23045                                    0
                23046                                    0
                23047                                    0
                23048                                    0
                23049                                    0
                23050                                    0
                23051                                    0
                23052                                    0

                         participant10_level  participant10_minionsKilled  \
matchId         frameId
EUW1_6621423080 23043                      1                            0
                23044                      1                            0
                23045                      1                            0
                23046                      2                            3
                23047                      3                            5
                23048                      3                            6
                23049                      4                            6
                23050                      4                            6
                23051                      5                            9
                23052                      5                           11

                         participant10_position_x  participant10_position_y  \
matchId         frameId
EUW1_6621423080 23043                       14281                     14199
                23044                        6404                      4477
                23045                       13458                      2762
                23046                       11974                      1620
                23047                        7638                      7592
                23048                       12932                      1832
                23049                        8555                      7503
                23050                        9957                      5156
                23051                       13007                      3683
                23052                        8341                      6345

                         participant10_timeEnemySpentControlled  \
matchId         frameId
EUW1_6621423080 23043                                         0
                23044                                         0
                23045                                       933
                23046                                     10028
                23047                                     62991
                23048                                     62991
                23049                                     80750
                23050                                     87827
                23051                                    127051
                23052                                    147655

                         participant10_totalGold  participant10_xp
matchId         frameId
EUW1_6621423080 23043                        500                 0
                23044                        500                 0
                23045                        523                75
                23046                        759               527
                23047                       1004               828
                23048                       1159               984
                23049                       1294              1153
                23050                       1728              1417
                23051                       2103              1905
                23052                       2265              2074

[10 rows x 472 columns]

In [45]:
df.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 28301 entries, ('EUW1_6621423080', 23043) to ('EUW1_6626278513', 406767)
Columns: 472 entries, timestamp to participant10_xp
dtypes: int64(472)
memory usage: 102.2+ MB

In [46]:
df.describe()

,timestamp,winning_team,participant1_participantId,participant1_abilityHaste,participant1_abilityPower,participant1_armor,participant1_armorPen,participant1_armorPenPercent,participant1_attackDamage,participant1_attackSpeed,...,participant10_trueDamageTaken,participant10_goldPerSecond,participant10_jungleMinionsKilled,participant10_level,participant10_minionsKilled,participant10_position_x,participant10_position_y,participant10_timeEnemySpentControlled,participant10_totalGold,participant10_xp
count,2.830100e+04,28301.000000,28301.000000,28301.0,28301.000000,28301.000000,28301.0,28301.000000,28301.000000,28301.000000,...,28301.000000,28301.000000,28301.000000,28301.000000,28301.000000,28301.000000,28301.000000,2.830100e+04,28301.000000,28301.000000
mean,8.524574e+05,0.467545,1.006431,0.0,27.341861,92.065969,0.0,1.561782,144.378538,145.672026,...,286.810749,24.901240,0.505070,6.966503,16.591004,10094.903042,7089.897742,8.709648e+04,4083.221264,4256.302498
std,5.468297e+05,0.498954,0.195608,0.0,74.488899,54.026340,0.0,6.041889,80.792501,43.873320,...,530.289360,7.914849,5.356006,3.733367,19.344081,3324.195941,3860.623302,8.777142e+04,2767.867506,3440.368526
min,0.000000e+00,0.000000,1.000000,0.0,0.000000,18.000000,0.0,0.000000,25.000000,64.000000,...,0.000000,0.000000,0.000000,1.000000,0.000000,394.000000,271.000000,0.000000e+00,500.000000,0.000000
25%,4.200830e+05,0.000000,1.000000,0.0,0.000000,56.000000,0.0,0.000000,85.000000,117.000000,...,0.000000,20.000000,0.000000,4.000000,4.000000,7778.000000,3648.000000,2.121500e+04,1713.000000,1487.000000
50%,8.402170e+05,0.000000,1.000000,0.0,0.000000,79.000000,0.0,0.000000,116.000000,132.000000,...,104.000000,30.000000,0.000000,7.000000,13.000000,10835.000000,6806.000000,6.537800e+04,3743.000000,3584.000000
75%,1.260375e+06,1.000000,1.000000,0.0,0.000000,112.000000,0.0,0.000000,190.000000,158.000000,...,326.000000,30.000000,0.000000,10.000000,25.000000,12987.000000,9948.000000,1.281900e+05,5981.000000,6281.000000
max,2.831299e+06,1.000000,9.000000,0.0,785.000000,645.000000,0.0,44.000000,696.000000,461.000000,...,12190.000000,30.000000,177.000000,18.000000,311.000000,14664.000000,14707.000000,1.855841e+06,17632.000000,20569.000000

In [47]:
df.dtypes

timestamp                                 int64
winning_team                              int64
participant1_participantId                int64
participant1_abilityHaste                 int64
participant1_abilityPower                 int64
                                          ...
participant10_position_x                  int64
participant10_position_y                  int64
participant10_timeEnemySpentControlled    int64
participant10_totalGold                   int64
participant10_xp                          int64
Length: 472, dtype: object

In [48]:
df = df.sort_values(by=['matchId', 'timestamp'])

In [49]:
def drop_irrelevant_columns(df: pd.DataFrame) -> pd.DataFrame:
    irrelevant_cols = ['participantId', 'abilityHaste', 'armorPen', 'bonusArmorPenPercent', 'bonusMagicPenPercent',
                       'cooldownReduction', 'physicalVamp', 'spellVamp', 'goldPerSecond']
    for i in range(1, 11):
        for col in irrelevant_cols:
            col = f'participant{i}_{col}'
            df.drop(col, axis=1, inplace=True)

In [50]:
drop_irrelevant_columns(df)
df

                         timestamp  winning_team  participant1_abilityPower  \
matchId         frameId
EUW1_6515836132 341861           0             1                          0
                341862       60016             1                          0
                341863      120047             1                          0
                341864      180081             1                          0
                341865      240110             1                          0
...                            ...           ...                        ...
NA1_4804591020  654624     1020357             1                          0
                654625     1080364             1                          0
                654626     1140379             1                          0
                654627     1200407             1                          0
                654628     1257790             1                          0

                         participant1_armor  participant1_armorPenPercent  \
matchId         frameId
EUW1_6515836132 341861                   35                             0
                341862                   41                             0
                341863                   41                             0
                341864                   48                             0
                341865                   48                             0
...                                     ...                           ...
NA1_4804591020  654624                  112                             0
                654625                  112                             0
                654626                  123                             0
                654627                  123                             0
                654628                  123                             0

                         participant1_attackDamage  participant1_attackSpeed  \
matchId         frameId
EUW1_6515836132 341861                          25                       100
                341862                          79                       100
                341863                          82                       100
                341864                          95                       104
                341865                         105                       104
...                                            ...                       ...
NA1_4804591020  654624                         200                       148
                654625                         200                       150
                654626                         205                       153
                654627                         205                       153
                654628                         235                       153

                         participant1_ccReduction  participant1_health  \
matchId         frameId
EUW1_6515836132 341861                          0                  660
                341862                          9                  740
                341863                         28                  151
                341864                         11                  884
                341865                         12                  903
...                                           ...                  ...
NA1_4804591020  654624                         14                 2093
                654625                         10                 2412
                654626                         27                  966
                654627                         19                 1671
                654628                         13                 2649

                         participant1_healthMax  ...  \
matchId         frameId                          ...
EUW1_6515836132 341861                      660  ...
                341862                      740  ...
                341863                      740  ...
                341864                      903  ...
                341865                      903  ...
...                                         ...  ...
NA1_4804591020  654624                     2412  ...
                654625                     2412  ...
                654626                     2535  ...
                654627                     2535  ...
                654628                     2960  ...

                         participant10_trueDamageDoneToChampions  \
matchId         frameId
EUW1_6515836132 341861                                         0
                341862                                         0
                341863                                        70
                341864                                        70
                341865                                        70
...                                                          ...
NA1_4804591020  654624                                         0
                654625                                         0
                654626                                         0
                654627                                         0
                654628                                         0

                         participant10_trueDamageTaken  \
matchId         frameId
EUW1_6515836132 341861                               0
                341862                               0
                341863                             101
                341864                             101
                341865                             107
...                                                ...
NA1_4804591020  654624                              90
                654625                              90
                654626                             137
                654627                             137
                654628                             185

                         participant10_jungleMinionsKilled  \
matchId         frameId
EUW1_6515836132 341861                                   0
                341862                                   0
                341863                                   0
                341864                                   0
                341865                                   0
...                                                    ...
NA1_4804591020  654624                                   0
                654625                                   0
                654626                                   0
                654627                                   0
                654628                                   0

                         participant10_level  participant10_minionsKilled  \
matchId         frameId
EUW1_6515836132 341861                     1                            0
                341862                     1                            0
                341863                     1                            0
                341864                     2                            3
                341865                     3                            4
...                                      ...                          ...
NA1_4804591020  654624                     8                           18
                654625                     8                           19
                654626                     9                           20
                654627                     9                           22
                654628                     9                           23

                         participant10_position_x  participant10_position_y  \
matchId         frameId
EUW1_6515836132 341861                      14281                     14199
                341862                      11865                      3655
                341863                      14210                     11841
                341864                      13554                      2918
                341865                      10750                      2137
...                                           ...                       ...
NA1_4804591020  654624                       8331                     10135
                654625                       8786                      9973
                654626                       9404                     11529
                654627                       8268                      8674
                654628                       8393                      6601

                         participant10_timeEnemySpentControlled  \
matchId         frameId
EUW1_6515836132 341861                                        0
                341862                                        0
                341863                                     4657
                341864                                     4657
                341865                                    23709
...                                                         ...
NA1_4804591020  654624                                    64661
                654625                                    64661
                654626                                    69901
                654627                                    73978
                654628                                    78151

                         participant10_totalGold  participant10_xp
matchId         frameId
EUW1_6515836132 341861                       500                 0
                341862                       500                 0
                341863                       523                 0
                341864                       752               419
                341865                      1083               860
...                                          ...               ...
NA1_4804591020  654624                      3763              4500
                654625                      3979              4682
                654626                      4250              5172
                654627                      4575              5606
                654628                      4808              5873

[28301 rows x 382 columns]

In [51]:
def make_label_last_col(df: pd.DataFrame) -> pd.DataFrame:
    cols = [col for col in df.columns if col != 'winning_team'] + ['winning_team']
    df = df[cols]
    return df

In [52]:
df = make_label_last_col(df)

In [53]:
idx = pd.IndexSlice
matchIds = df.index.get_level_values('matchId').unique()
print(len(matchIds))
df.loc[matchIds[0]]

1000

,timestamp,participant1_abilityPower,participant1_armor,participant1_armorPenPercent,participant1_attackDamage,participant1_attackSpeed,participant1_ccReduction,participant1_health,participant1_healthMax,participant1_healthRegen,...,participant10_trueDamageTaken,participant10_jungleMinionsKilled,participant10_level,participant10_minionsKilled,participant10_position_x,participant10_position_y,participant10_timeEnemySpentControlled,participant10_totalGold,participant10_xp,winning_team
frameId,,,,,,,,,,,,,,,,,,,,,
341861,0,0,35,0,25,100,0,660,660,0,...,0,0,1,0,14281,14199,0,500,0,1
341862,60016,0,41,0,79,100,9,740,740,24,...,0,0,1,0,11865,3655,0,500,0,1
341863,120047,0,41,0,82,100,28,151,740,154,...,101,0,1,0,14210,11841,4657,523,0,1
341864,180081,0,48,0,95,104,11,884,903,26,...,101,0,2,3,13554,2918,4657,752,419,1
341865,240110,0,48,0,105,104,12,903,903,26,...,107,0,3,4,10750,2137,23709,1083,860,1
341866,300135,0,57,0,112,108,15,1040,1082,28,...,110,0,3,4,9536,5638,30711,1387,908,1
341867,360150,0,57,0,137,108,32,0,1082,28,...,110,0,4,4,8389,6294,33649,1617,1218,1
341868,420160,0,61,0,144,110,19,922,1178,123,...,122,0,4,6,10591,4625,33649,1793,1499,1
341869,480181,0,61,0,154,110,24,789,1428,55,...,122,0,4,6,8500,8364,34882,1927,1573,1
341870,540193,0,66,0,154,113,15,1427,1427,31,...,122,0,5,9,13361,4096,40482,2176,1837,1
341871,600212,0,66,0,172,113,36,654,1677,58,...,272,0,5,9,7788,6755,51044,2405,1970,1
341872,660245,0,66,0,175,113,23,1560,1577,32,...,272,0,5,9,11315,1731,52348,2540,1995,1
341873,720256,0,71,0,180,115,34,1202,1931,61,...,272,0,6,12,7483,6932,66182,2860,2457,1
341874,780287,0,71,0,158,115,33,1090,1681,32,...,304,0,6,14,8650,9977,78663,3038,2682,1
341875,840289,0,96,0,162,118,29,1766,1938,34,...,402,0,6,14,13326,4604,91792,3183,2990,1
341876,900296,0,96,0,185,118,32,1574,1938,47,...,402,0,7,15,1421,10068,102703,3483,3386,1
341877,960298,0,101,0,176,121,28,2099,2099,35,...,402,0,7,15,6405,8290,102703,3631,3712,1
341878,1020324,0,101,0,191,121,29,1968,2099,35,...,414,0,7,15,9361,9790,112450,3821,3718,1
341879,1080334,0,106,0,196,124,28,2214,2214,37,...,414,0,7,16,10514,5671,115748,3991,4021,1
341880,1140345,0,112,0,200,127,32,1884,2332,47,...,414,0,7,16,7138,3128,123139,4181,4021,1
341881,1200364,0,112,0,225,127,28,2607,2607,38,...,414,0,8,18,5909,9145,130114,4363,4452,1
341882,1260387,0,152,0,225,127,41,1114,2757,38,...,433,0,8,18,13014,12339,134059,4507,4575,1
341883,1320415,0,152,0,259,127,43,428,3357,88,...,433,0,9,19,7754,7738,141508,4671,5041,1
341884,1380429,0,157,0,241,130,28,3000,3000,32,...,556,0,9,21,9770,10243,151821,5055,5711,1
341885,1440444,0,157,0,270,130,43,317,3400,32,...,665,0,9,22,4719,11801,163486,5257,5951,1
341886,1500458,28,163,0,263,133,29,2962,3126,34,...,699,0,10,22,8832,13518,166440,5397,6502,1
341887,1560460,28,204,0,268,136,43,1031,3382,35,...,882,0,10,22,8667,13363,172270,5541,6659,1
341888,1592433,28,204,0,268,136,40,1471,3382,35,...,882,0,10,23,14386,14436,183792,5630,6967,1

In [54]:
df.index.levels[0]

Index(['EUW1_6515836132', 'EUW1_6562135977', 'EUW1_6576002536',
       'EUW1_6586916475', 'EUW1_6588219080', 'EUW1_6588683866',
       'EUW1_6590428346', 'EUW1_6591380627', 'EUW1_6592100459',
       'EUW1_6592565295',
       ...
       'NA1_4803449262', 'NA1_4803611817', 'NA1_4803686727', 'NA1_4803983288',
       'NA1_4804150028', 'NA1_4804180283', 'NA1_4804285034', 'NA1_4804503477',
       'NA1_4804542442', 'NA1_4804591020'],
      dtype='object', name='matchId', length=1000)

In [55]:
def prune_timeline(df: pd.DataFrame) -> pd.DataFrame:
    """
    Prunes the timeline to not include events after 16 minutes (960000 milliseconds)
    :param df: 
    :return: 
    """
    len_before = len(df)
    df_new = df.drop(df.query("timestamp > 960000").index)
    print(f'Pruned {len_before - len(df_new)} rows')
    return df_new

In [56]:
df = prune_timeline(df)

Pruned 12301 rows

In [57]:
def drop_short_matches(df: pd.DataFrame) -> pd.DataFrame:
    """
    Gets matches that are shorter than 16 minutes
    :param df: 
    :return: 
    """
    len_before = len(df)
    matchIds = df.index.get_level_values('matchId').unique()
    short_matches = []
    for matchId in matchIds:
        match_df = df.loc[matchId]
        if match_df.iloc[-1]['timestamp'] < 900000:
            short_matches.append(matchId)
    df_new = df.drop(short_matches, level='matchId')
    print(f'Dropped {len_before - len(df_new)} rows or {len(short_matches)} matches')
    return df_new

In [58]:
df = drop_short_matches(df)

Dropped 0 rows or 0 matches

In [59]:
df

                         timestamp  participant1_abilityPower  \
matchId         frameId
EUW1_6515836132 341861           0                          0
                341862       60016                          0
                341863      120047                          0
                341864      180081                          0
                341865      240110                          0
...                            ...                        ...
NA1_4804591020  654618      660271                          0
                654619      720289                          0
                654620      780309                          0
                654621      840316                          0
                654622      900335                          0

                         participant1_armor  participant1_armorPenPercent  \
matchId         frameId
EUW1_6515836132 341861                   35                             0
                341862                   41                             0
                341863                   41                             0
                341864                   48                             0
                341865                   48                             0
...                                     ...                           ...
NA1_4804591020  654618                   76                             0
                654619                   81                             0
                654620                   81                             0
                654621                   86                             0
                654622                  106                             0

                         participant1_attackDamage  participant1_attackSpeed  \
matchId         frameId
EUW1_6515836132 341861                          25                       100
                341862                          79                       100
                341863                          82                       100
                341864                          95                       104
                341865                         105                       104
...                                            ...                       ...
NA1_4804591020  654618                         162                       130
                654619                         188                       134
                654620                         166                       134
                654621                         171                       142
                654622                         171                       144

                         participant1_ccReduction  participant1_health  \
matchId         frameId
EUW1_6515836132 341861                          0                  660
                341862                          9                  740
                341863                         28                  151
                341864                         11                  884
                341865                         12                  903
...                                           ...                  ...
NA1_4804591020  654618                         12                 1798
                654619                         10                 2279
                654620                         17                 1545
                654621                         11                 2037
                654622                         10                 2294

                         participant1_healthMax  participant1_healthRegen  \
matchId         frameId
EUW1_6515836132 341861                      660                         0
                341862                      740                        24
                341863                      740                       154
                341864                      903                        26
                341865                      903                        26
...                                         ...                       ...
NA1_4804591020  654618                     1918                        34
                654619                     2279                        35
                654620                     2029                        35
                654621                     2144                        37
                654622                     2294                        37

                         ...  participant10_trueDamageTaken  \
matchId         frameId  ...
EUW1_6515836132 341861   ...                              0
                341862   ...                              0
                341863   ...                            101
                341864   ...                            101
                341865   ...                            107
...                      ...                            ...
NA1_4804591020  654618   ...                             90
                654619   ...                             90
                654620   ...                             90
                654621   ...                             90
                654622   ...                             90

                         participant10_jungleMinionsKilled  \
matchId         frameId
EUW1_6515836132 341861                                   0
                341862                                   0
                341863                                   0
                341864                                   0
                341865                                   0
...                                                    ...
NA1_4804591020  654618                                   0
                654619                                   0
                654620                                   0
                654621                                   0
                654622                                   0

                         participant10_level  participant10_minionsKilled  \
matchId         frameId
EUW1_6515836132 341861                     1                            0
                341862                     1                            0
                341863                     1                            0
                341864                     2                            3
                341865                     3                            4
...                                      ...                          ...
NA1_4804591020  654618                     6                           11
                654619                     6                           11
                654620                     7                           15
                654621                     7                           15
                654622                     8                           15

                         participant10_position_x  participant10_position_y  \
matchId         frameId
EUW1_6515836132 341861                      14281                     14199
                341862                      11865                      3655
                341863                      14210                     11841
                341864                      13554                      2918
                341865                      10750                      2137
...                                           ...                       ...
NA1_4804591020  654618                      13788                      4768
                654619                       7560                      7516
                654620                       9158                      8398
                654621                      13877                     13524
                654622                      10365                      9756

                         participant10_timeEnemySpentControlled  \
matchId         frameId
EUW1_6515836132 341861                                        0
                341862                                        0
                341863                                     4657
                341864                                     4657
                341865                                    23709
...                                                         ...
NA1_4804591020  654618                                    29334
                654619                                    36518
                654620                                    39659
                654621                                    57884
                654622                                    57884

                         participant10_totalGold  participant10_xp  \
matchId         frameId
EUW1_6515836132 341861                       500                 0
                341862                       500                 0
                341863                       523                 0
                341864                       752               419
                341865                      1083               860
...                                          ...               ...
NA1_4804591020  654618                      2352              2566
                654619                      2645              2952
                654620                      2820              3262
                654621                      3110              3798
                654622                      3276              4136

                         winning_team
matchId         frameId
EUW1_6515836132 341861              1
                341862              1
                341863              1
                341864              1
                341865              1
...                               ...
NA1_4804591020  654618              1
                654619              1
                654620              1
                654621              1
                654622              1

[16000 rows x 382 columns]

In [60]:
seq_length = 16
n_features = df.shape[1]
arr_shaped = df.to_numpy().reshape(df.shape[0] // seq_length, seq_length, n_features)
df_x_train_shaped = pd.DataFrame(arr_shaped[1, :, :])
df_x_train_shaped

,0,1,2,3,4,5,6,7,8,9,...,372,373,374,375,376,377,378,379,380,381
0,0,0,39,0,25,100,0,620,620,0,...,0,0,1,0,14281,14199,0,500,0,0
1,60009,0,45,0,76,113,17,401,700,18,...,0,0,1,0,10633,5514,0,500,0,0
2,120021,0,45,0,76,113,5,700,700,18,...,0,0,1,0,13004,2780,7673,563,113,0
3,180031,0,52,0,80,116,18,448,860,20,...,0,0,2,0,12020,1815,22243,817,564,0
4,240036,0,56,0,83,118,13,677,946,22,...,0,0,3,0,11871,1699,37024,1127,933,0
5,300039,0,76,0,91,119,5,1036,1036,23,...,0,0,4,2,12308,1926,37390,1289,1148,0
6,360054,0,80,0,88,124,17,636,1130,108,...,0,0,4,3,13769,4686,49504,1870,1630,0
7,420082,0,100,0,88,136,5,1130,1130,25,...,0,0,5,5,12906,3070,66402,2055,1971,0
8,480109,0,105,0,90,140,5,1228,1228,26,...,0,0,6,6,11451,1748,101445,2495,2437,0
9,540136,0,125,0,93,142,8,1190,1329,28,...,0,0,6,7,9991,7047,101445,2677,2606,0
10,600153,0,152,0,119,146,11,1103,1434,30,...,0,0,6,9,11768,1617,110615,3307,3174,0
11,660175,49,130,0,91,181,5,1434,1434,30,...,0,0,7,9,12374,1457,112784,3872,3572,0
12,720191,49,135,0,94,152,5,1536,1543,31,...,0,0,7,10,9522,7280,112784,4366,4027,0
13,780214,49,135,0,94,152,12,1125,1543,115,...,0,0,8,18,12498,11868,114385,4693,4546,0
14,840220,49,140,0,97,155,24,513,1656,33,...,0,0,8,22,12960,2502,116661,4957,4925,0
15,900220,69,140,0,97,205,17,912,1656,33,...,0,0,9,30,12241,11606,124880,6200,5773,0

In [61]:
def train_test_split(df: pd.DataFrame, test_size: float) -> (pd.DataFrame, pd.DataFrame):
    matchIds = df.index.get_level_values('matchId').unique()
    test_length = int(len(matchIds) * test_size)
    test_matchIds = matchIds[:test_length]
    train_matchIds = matchIds[test_length:]
    test_df = df.loc[test_matchIds]
    train_df = df.loc[train_matchIds]
    train_labels = train_df.pop('winning_team')
    test_labels = test_df.pop('winning_team')
    return train_df, train_labels, test_df, test_labels

In [62]:
def test_match_length(df: pd.DataFrame):
    """
    tests if all matchIds have exactly 16 timestamps
    :param df: 
    :return: 
    """
    matchIds = df.index.get_level_values('matchId').unique()
    found_short = False
    print(f'Found {len(matchIds)} matches')
    for matchId in matchIds:
        match_df = df.loc[matchId]
        if len(match_df) != 16:
            print(f'Match {matchId} has {len(match_df)} timestamps')
            found_short = True
    if not found_short:
        print('All matches have 16 timestamps')

In [63]:
test_match_length(df)

Found 1000 matches
All matches have 16 timestamps

In [64]:
X_train, y_train, X_test, y_test = train_test_split(df, 0.2)

In [65]:
X_train

                         timestamp  participant1_abilityPower  \
matchId         frameId
EUW1_6621098984 103254           0                          0
                103255       60025                          0
                103256      120047                          0
                103257      180053                          0
                103258      240070                          0
...                            ...                        ...
NA1_4804591020  654618      660271                          0
                654619      720289                          0
                654620      780309                          0
                654621      840316                          0
                654622      900335                          0

                         participant1_armor  participant1_armorPenPercent  \
matchId         frameId
EUW1_6621098984 103254                   36                             0
                103255                   42                             0
                103256                   42                             0
                103257                   48                             0
                103258                   51                             0
...                                     ...                           ...
NA1_4804591020  654618                   76                             0
                654619                   81                             0
                654620                   81                             0
                654621                   86                             0
                654622                  106                             0

                         participant1_attackDamage  participant1_attackSpeed  \
matchId         frameId
EUW1_6621098984 103254                          25                       100
                103255                          83                       110
                103256                          83                       116
                103257                          97                       115
                103258                         101                       117
...                                            ...                       ...
NA1_4804591020  654618                         162                       130
                654619                         188                       134
                654620                         166                       134
                654621                         171                       142
                654622                         171                       144

                         participant1_ccReduction  participant1_health  \
matchId         frameId
EUW1_6621098984 103254                          0                  665
                103255                          5                  665
                103256                          5                  573
                103257                          5                  892
                103258                          5                  364
...                                           ...                  ...
NA1_4804591020  654618                         12                 1798
                654619                         10                 2279
                654620                         17                 1545
                654621                         11                 2037
                654622                         10                 2294

                         participant1_healthMax  participant1_healthRegen  \
matchId         frameId
EUW1_6621098984 103254                      665                         0
                103255                      665                        17
                103256                      665                        17
                103257                      892                        18
                103258                      971                       102
...                                         ...                       ...
NA1_4804591020  654618                     1918                        34
                654619                     2279                        35
                654620                     2029                        35
                654621                     2144                        37
                654622                     2294                        37

                         ...  participant10_trueDamageDoneToChampions  \
matchId         frameId  ...
EUW1_6621098984 103254   ...                                        0
                103255   ...                                        0
                103256   ...                                        0
                103257   ...                                       70
                103258   ...                                       70
...                      ...                                      ...
NA1_4804591020  654618   ...                                        0
                654619   ...                                        0
                654620   ...                                        0
                654621   ...                                        0
                654622   ...                                        0

                         participant10_trueDamageTaken  \
matchId         frameId
EUW1_6621098984 103254                               0
                103255                               0
                103256                               0
                103257                               0
                103258                               0
...                                                ...
NA1_4804591020  654618                              90
                654619                              90
                654620                              90
                654621                              90
                654622                              90

                         participant10_jungleMinionsKilled  \
matchId         frameId
EUW1_6621098984 103254                                   0
                103255                                   0
                103256                                   0
                103257                                   0
                103258                                   0
...                                                    ...
NA1_4804591020  654618                                   0
                654619                                   0
                654620                                   0
                654621                                   0
                654622                                   0

                         participant10_level  participant10_minionsKilled  \
matchId         frameId
EUW1_6621098984 103254                     1                            0
                103255                     1                            0
                103256                     1                            0
                103257                     2                            2
                103258                     3                            6
...                                      ...                          ...
NA1_4804591020  654618                     6                           11
                654619                     6                           11
                654620                     7                           15
                654621                     7                           15
                654622                     8                           15

                         participant10_position_x  participant10_position_y  \
matchId         frameId
EUW1_6621098984 103254                      14281                     14199
                103255                       3081                      9654
                103256                      12623                      2419
                103257                      13890                      3877
                103258                      10603                      3125
...                                           ...                       ...
NA1_4804591020  654618                      13788                      4768
                654619                       7560                      7516
                654620                       9158                      8398
                654621                      13877                     13524
                654622                      10365                      9756

                         participant10_timeEnemySpentControlled  \
matchId         frameId
EUW1_6621098984 103254                                        0
                103255                                        0
                103256                                        0
                103257                                     1697
                103258                                    26096
...                                                         ...
NA1_4804591020  654618                                    29334
                654619                                    36518
                654620                                    39659
                654621                                    57884
                654622                                    57884

                         participant10_totalGold  participant10_xp
matchId         frameId
EUW1_6621098984 103254                       500                 0
                103255                       500                 0
                103256                       523                 0
                103257                       801               394
                103258                      1072               902
...                                          ...               ...
NA1_4804591020  654618                      2352              2566
                654619                      2645              2952
                654620                      2820              3262
                654621                      3110              3798
                654622                      3276              4136

[12800 rows x 381 columns]

In [66]:
test_match_length(X_train)

Found 800 matches
All matches have 16 timestamps

In [67]:
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

C:\Users\morit\anaconda3\envs\leaguify\Lib\site-packages\sklearn\utils\validation.py:767: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if not hasattr(array, "sparse") and array.dtypes.apply(is_sparse).any():
C:\Users\morit\anaconda3\envs\leaguify\Lib\site-packages\sklearn\utils\validation.py:605: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
C:\Users\morit\anaconda3\envs\leaguify\Lib\site-packages\sklearn\utils\validation.py:614: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):
C:\Users\morit\anaconda3\envs\leaguify\Lib\site-packages\sklearn\utils\validation.py:767: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if not hasattr(array, "sparse") and array.dtypes.apply(is_sparse).any():
C:\Users\morit\anaconda3\envs\leaguify\Lib\site-packages\sklearn\utils\validation.py:605: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
C:\Users\morit\anaconda3\envs\leaguify\Lib\site-packages\sklearn\utils\validation.py:614: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):
C:\Users\morit\anaconda3\envs\leaguify\Lib\site-packages\sklearn\utils\validation.py:767: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if not hasattr(array, "sparse") and array.dtypes.apply(is_sparse).any():
C:\Users\morit\anaconda3\envs\leaguify\Lib\site-packages\sklearn\utils\validation.py:605: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
C:\Users\morit\anaconda3\envs\leaguify\Lib\site-packages\sklearn\utils\validation.py:614: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):

In [68]:
X_train = np.append(X_train, np.expand_dims(y_train, axis=1), axis=1)
X_test = np.append(X_test, np.expand_dims(y_test, axis=1), axis=1)

In [69]:
X_train.shape

(12800, 382)

In [70]:
X_test.shape

(3200, 382)

In [74]:
np.save('../data/processed/train_timeline.npy', X_train)
np.save('../data/processed/test_timeline.npy', X_test)

In [75]:
#for i, col in enumerate(df.columns):
#   plt.figure(i)
#  sns.histplot(df[col], stat='density', kde=True)